# Database
POSTGRES_PASSWORD=cambiar_por_password_seguro

# Django
SECRET_KEY=cambiar_por_clave_secreta_unica
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Email (opcional - para producción)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
