<div class="card bg-light mb-3">
    <div class="card-body">
        <h5 class="card-title">Detalles de la Herramienta Seleccionada</h5>
        <div class="row">
            <div class="col-md-6"><p><strong>Fabricante:</strong> {{ herramienta.fabricante }}</p></div>
            <div class="col-md-6"><p><strong>Modelo:</strong> {{ herramienta.modelo }}</p></div>
            <div class="col-md-6"><p><strong>No. Serie:</strong> {{ herramienta.numero_serie }}</p></div>
            <div class="col-md-6"><p><strong>No. Reparación:</strong> {{ herramienta.numero_reparacion }}</p></div>
        </div>
    </div>
</div>